<div class="mt-4">
    <div class="d-flex justify-content-between">
        <h3>TRASH</h3>
        <div>
            <a class="badge badge-primary" href="/me/stored/all-pizza-collection">Back to all pizza collection</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">DeletedAt</th>
            </tr>
        </thead>
        <tbody>
            {{#each pizzaCollections}} {{! sử dụng helper để cộng }}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="badge badge-primary" id="btn-restore-pizza" data-id="{{this._id}}">Restore</a>
                </td>
                <td>
                    <a
                        href=""
                        class="badge badge-danger"
                        data-toggle="modal"
                        data-target="#modal-delete-pizza"
                        data-id="{{this._id}}"
                        >Delete</a
                    >
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    There are no more collections in the trash!!!
                    <a class="badge badge-primary" href="/me/stored/all-pizza-collection"
                        >Back to all pizza collection</a
                    >
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{! modal delete pizza collection }}
<div
    class="modal fade"
    id="modal-delete-pizza"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Pizza?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">Permanently delete can not restore anymore, you want to delete ?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="btn-delete-pizza">Permanently delete!!!</button>
            </div>
        </div>
    </div>
</div>
<form name="form-delete-pizza" method="POST"></form>
<form name="form-restore-pizza" method="POST"></form>

{{! }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let idPizza;
        const btnPermanentlyDelete = document.getElementById('btn-delete-pizza');
        const btnRestorePizza = document.querySelectorAll('#btn-restore-pizza');

        const formPermanentlyDelete = document.forms['form-delete-pizza'];
        const formRestorePizza = document.forms['form-restore-pizza'];
        $('#modal-delete-pizza').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            idPizza = button.data('id');
        });

        btnPermanentlyDelete.onclick = function () {
            formPermanentlyDelete.action = '/pizza-detail/' + idPizza + '/permanentlyDelete?_method=DELETE';
            formPermanentlyDelete.submit();
        };

        for (let i = 0; i < btnRestorePizza.length; i++) {
            btnRestorePizza[i].onclick = function (e) {
                e.preventDefault();
                let idPizzaRestore = $(this).data('id');
                formRestorePizza.action = '/pizza-detail/' + idPizzaRestore + '/restore?_method=PATCH';
                formRestorePizza.submit();
            };
        }
    });
</script>
